# PulseNet Codeowners

*       @poojakiran @rhutvikpachghare

/docs/  @rhutvikpachghare
/tests/ @rhutvikpachghare
/dashboard/@rhutvikpachghare

/src/pulsenet/models/   @poojakiran
/src/pulsenet/pipeline/ @poojakiran
/src/pulsenet/security/ @poojakiran
